<!-- <nz-date-picker (ngModelChange)="onChange($event)"></nz-date-picker> -->
<div class="system-table">
  <wn-search-form
    [itemSpan]="6"
    [labelSpan]="8"
    [items]="items"
    [control]="controller"
    [showSubmit]="true"
    (search)="onChange($event)"
  ></wn-search-form>
  <wn-frontend-table
    [columns]="columns"
    [nzData]="data"
    [nzShowPagination]="true"
    [showChecked]="false"
    [nzShowSizeChanger]="true"
    [nzExpandable]="false"
    [mainKey]="'symbol'"
  ></wn-frontend-table>
</div>
